#plantillas {
	display: none;
}

#eventos .evento{
	margin: 5px;
	background-color: aquamarine;
	height: 30px;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 5px;
}

#eventos .evento #titulo{
	font-size: 14px;	
}

#eventos .pedido #producto{
	display: inline-block;
}

#eventos .pedido #cantidad{
	display: inline-block;
}

#eventos .pedido #cliente{
	display: inline-block;
}

#titulo_eventos{
	font-weight: bold;
	font-size: 18;
	position: absolute;
}

#eventos{
	position: absolute;
	top:30px;
	left: 0px;
	right: 0px;
	bottom: 50px;
	overflow-y: auto;
	margin: 5px;
}
