html{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#plantillas {
	display: none;
}

.alto_pulgar{
    height: 3em;
}

.ancho_pulgar{
    width: 3em;
}

.barra_superior{
	background-color: orange;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom: solid white 1px;
}

.barra_superior .titulo{
    font-size: 24px;
    display: inline-block;
    width: 150px;
    text-align:center;
    padding-top: 5px;
    height: 100%;
    box-sizing: border-box;
    transition: 0.5s ease;
    cursor: pointer;
}

.barra_superior .seleccionado{
	font-weight: bold;
}

.barra_superior .titulo:hover{
    background-color: #ffd280;    
}

.btn_agregar{
    position: absolute;
    right: 3px;
    bottom: 3px;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    background-color: #37ffff;
    text-align: center;
    /* vertical-align: top; */
    cursor: pointer;
    padding-top: -10px;
    z-index: 1000;
}

.btn_cerrar{
    position: absolute;
    right: 7px;
    top: 7px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    text-align: center;
    /* vertical-align: top; */
    cursor: pointer;
    padding-top: -10px;
}

.listado{
	position: absolute;
	top:3em;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow-y: auto;
}

.elemento_lista{
    background-color: #ffc800;
    border-bottom: dashed white 1px;
    box-sizing: border-box;
    padding-top: 6px;
    padding-left: 5px;
    cursor:pointer;
    transition: 0.5s ease;
    position: relative;
}

.elemento_lista:hover{
    background-color: orange;
}

.pop_up{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.31);
}

.pop_up #marco_popup{
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border: black 1px solid;
    background-color: lightgray;
    border-radius: 5px;
}