body{
    background-color:black;
}
#fondo{
    width: 100%;    
}

#linkFacebook{
    position:absolute;
    right:50px;
    top:50px;
    width:100px;
}
#linkFacebook img{
    width:100px;
}
#linkFacebook img:hover{
    -webkit-filter: drop-shadow(0px 0px 10px white);
    filter: url(shadow.svg#drop-shadow);
}
