#pantalla_edicion_proceso{
	display: none;
    position: absolute;
    background-color: rgba(241, 255, 121, 0.88);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#txt_tipo_proceso{
    position: absolute;
    left: 10%;
    width: 80%;
    text-align: center;
    background-color: rgba(250, 235, 215, 0);
    border: 0px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}

#contenedor_atributos_proceso{
    position: absolute;
    top: 3em;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#contenedor_items_entrada_proceso{
    overflow: auto;
    position: absolute;
    bottom: 0px;
    top: 24px;
    left: 0px;
    right: 0px;
}

#contenedor_items_salida_proceso{
    
}

.vista_item_en_proceso{
    position: relative;
}

.vista_item_en_proceso #tipo{
    position: absolute;
    left: 10px;
    top: 10px;
}

.vista_item_en_proceso #cantidad{
    position: absolute;
    right: 10px;
    top: 10px;
}